body
{
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('images/bg.png') repeat;
    color: #e8e8e8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


#logo {
    height: 50px;
}

#logo img {
    height: 100%;
}

.panel-primary>.panel-heading {
    background-color: #16BFCE;
    border-color: #16BFCE; 
}

.dashboard-item {
    width: 120px !important;
    margin: 0 auto;
}

.megatron {
    padding-top: 48px;
    padding-bottom: 48px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #FFF;
}

.container .megatron {
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 6px;
}

.megatron h1 {
    color: #16BFCE !important;
    margin: 0px;
}

.megatron h2, .megatron h3, .megatron h4, .megatron h5 {
    color: #999 !important;
    margin-top: 10px;
}

.megatron p {
    color: #000;
}

footer {
    color: #FFF;
}

.navbar-nav > li > a {
    color: #FFF !important;
}

.navbar-nav > li > a:hover {
    color: #16BFCE !important;
}

blockquote {
    color: rgba(125, 125, 125, 1);
}