body
{
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('images/bg.png') repeat;
    color: #CBCBCB;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo {
    height: 50px;
}

#logo img {
    height: 100%;
}

.panel-primary>.panel-heading {
    background-color: #16BFCE;
    border-color: #16BFCE; 
}

.dashboard-item {
    width: 120px !important;
    margin: 0 auto;
}