@model PPSystem.Web.ViewModels.CV.LanguageViewModel

<tr>
    <td></td>
    <td>@Model.Name</td>
    <td>@Html.ActionLink("Edit", "EditLanguage", null, new { @class = "btn btn-primary pull-right" })</td>
    <td>@Html.ActionLink("Delete", "DeleteLanguage", null, new { @class = "btn btn-danger pull-right" })</td>
</tr>