@model ICollection<PPSystem.Web.ViewModels.Portfolio.ProjectViewModel>
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="megatron">
    <h1 style="color:#656565 !important" class="text-center">Projects developed</h1>
    <br />
    @foreach (var project in Model)
    {
        <div class="row">
            @Html.Partial("_Project", project)
        </div>
    }
</div>