@model PPSystem.Web.ViewModels.CV.SkillViewModel
<h5>@Model.Name</h5>
<div class="progress progress-striped active">
    <div class="progress-bar" style="width: @Model.Completion%">@Model.Completion%</div>
</div>