@model ICollection<PPSystem.Web.ViewModels.CV.SkillViewModel>

<h2 class="text-center">Skills</h2>

@foreach (var skill in @Model)
{
    if (skill.IsDeleted)
    {
        continue;
    }
    
    @Html.Partial("_Skill", skill)
}